<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <h1><%= @order.title %></h1>
  <p>
  <%= @order.description %>
  </p>
  </body>
  </html>
